body {
    font-family: sans-serif;
    text-align: center;
    justify-items: center;
}
table {
    box-shadow: 1px black;
    border-collapse: collapse;
    border: 1px gray solid;
    margin: 0;
    padding: 0;
}
img{
    width: 170px;
}

button{
    width: 170px;
    padding: 2px;
}
td> h2{
    margin: 0;
}
td {
    
    padding: 10px;
}
button{
    color: white;
    background-color: black;
}
