table{
    border: solid 2px black;
    width: 100%;
    height:20vh;
    table-layout:fixed;
    border-collapse: collapse;
}

tr :nth-child(1){
    border: 1px solid gray;
    background-color: red;
}
tr :nth-child(2){
    border: 1px solid gray;
    background-color: blue;
}
@viewport{
    width: device-width;
    zoom: 1;
}
